<!DOCTYPE HTML>

<html>

    <head>
        <meta charset="UTF-8">
        <!--for search bar icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <title>Check</title>
        <style>
        h1{
             text-align: center;
        }
        body{
          background-color: lightcoral;
        }
        </style>
    </head>


    <body>
             <h1>Are you sure you want to logout?</h1>
             <div class="text-center">
             <button type="button" class="btn btn-primary btn-lg text-center">Yes</button>
             <button type="button" class="btn btn-secondary btn-lg text-center">No</button>
             </div>

    </body>



</html>
