<!DOCTYPE HTML>

<html>

    <head>
        <meta charset="UTF-8">
        <title>Cop It</title>
                
        <meta name = "viewport" content = "width = device - width">
        <meta name = "description" content = "Cop It Website">  
        <link rel = "stylesheet" href = "style.css">
        
        <!--for search bar icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        
        <script defer src= https://use.fontawesome.com/releases/v5.3.1/css/all.css ></script>
    </head>
    

    <body>

        
        <!-- The sidebar -->
        <div class="sidebar">
<!--          <section id = "NameDisplay" align = "center" style = "font-size: 1000", font color="red"><h1>Cop It</h1></section>-->
        <img src ="Cop%20It%20Logo.png" width = 200 height = 100 alt = "CPP Logo" draggable="false" ondragstart="return false;" onContextMenu="return false;">
            
          <a class="active" href="index.html" style = "font-family: Helvetica">Search</a>
          <a href="#watchlist.html" style = "font-family: Helvetica">Watch List</a>
          <a href="#statistics.html" style = "font-family: Helvetica">Statistics</a>
          <a href="#log out.html" style = "font-family: Helvetica">Log Out</a>
        </div>

        <!-- Page content -->
        <div class="content">
            
          <h1>Welcome, Kenny!</h1>
<!--
            <div class = "searchbarbox">
              <input type="text" style = "font-family: Didot" placeholder="search ...">
              <a class = "searchbuttonbox">
                <i class="far fa-search"></i>
              </a>
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
-->
            
            <div class="search-bar-box">
                
                <form>
                      <input type="text" class="search-bar-txt" placeholder= "Search..."/>
                <a class="search-bar-button">
                    <i class="fas fa-search"></i>
                </a>          
                
                </form>

             </div>
            
        </div>

    </body>



</html>
