<!DOCTYPE HTML>

<html>

    <head>
        <meta charset="UTF-8">
        <title>Cop It</title>

        <meta name = "viewport" content = "width = device - width">
        <meta name = "description" content = "Cop It Website">
        <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script defer src= https://use.fontawesome.com/releases/v5.3.1/css/all.css ></script>

                <!--for search bar icon -->
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    </head>


    <body>
        <script>
         function check(question){
           if(confirm(question)){
            window.open("/login/", "_self");
           }
           else{
           }
         }
         </script>


        <!-- The sidebar -->
        <div class="sidebar">
<!--          <section id = "NameDisplay" align = "center" style = "font-size: 1000", font color="red"><h1>Cop It</h1></section>-->
        <img src ="{{ url_for('static', filename='img/Cop It Logo.png') }}" width = 300px height = 150px  draggable="false" ondragstart="return false;" onContextMenu="return false;">

          <a class="active" href="/home/" style = "font-family: Helvetica; font-size:20px;">Search</a>
          <button class="collapsible" style = "font-family: Helvetica; font-size:20px;">Watch List</button>
            <div class="collapse-content">
              {% for item in watchlist %}
              <a href="/{{ item }}/">{{ item }}<a href="/delete/{{ item }}/"><button type="button" class="btn btn-danger" style="float: right; width: 25px; height: 25px;">Delete</button></a></a>
              {% endfor %}
            </div>
          <a style = "font-family: Helvetica" a href="/logout/">Log Out</a>
        </div>


        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
        </script>

        <!-- Page content -->
        <div class="content">

          <h1>Hi, {{ username }}!</h1>
<!--
            <div class = "searchbarbox">
              <input type="text" style = "font-family: Didot" placeholder="search ...">
              <a class = "searchbuttonbox">
                <i class="far fa-search"></i>
              </a>
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
-->

            <div class="search-bar-box">

                <form action='/search/' method = "post">
                      <input type="text" class="search-bar-txt" name="product" placeholder= "Search..."/>

                </form>

             </div>

             {% for item in results %}
             <div class="well"><h3>{{ item['name'] }}</h3>
               <img src="{{ item['images'][0] }}" style="clear: left; float: left; width: 10%; height: 10%;">
               ${{ item['price'] }}
               <br>
               {{ item['brand'] }}
               <br>
               <a href="/add/{{ item['name'] }}/"<button type="button" class="btn" style="float: right; width: 25px; height: 25px;">Add</button></a>
             </div>
             {% endfor %}
        </div>



    </body>

    <foot>
        <div class = "copyright" style="background-color:ghostwhite;">
            <p>Copyright &copy; 2019 Cop It</p>
        </div>
    </foot>

</html>
