<!DOCTYPE HTML>

<html>

    <head>
        <meta charset="UTF-8">
        <title>Cop It</title>
                
        <meta name = "viewport" content = "width = device - width">
        <meta name = "description" content = "Cop It Website">  
        <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
        
        <!--for search bar icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        
        <script defer src= https://use.fontawesome.com/releases/v5.3.1/css/all.css ></script>
        
        <style>
        
            table{
               margin-left: -200px;
               color: black;
             }
             a{
               font-family: "Helvetica", Times, serif;
             }
             th{
               width: 1px;
               text-align: right;
             }
             td{
               width: 1px;
             }
             #tab{
               margin-left:200px;
               width: 1000px;
             }
            
            #chart{
              display: block;
              margin-left: 450px;
              margin-top: auto;
              position: relative;
            }
        </style>
        
        <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- Load c3.css -->
        
    </head>
    

    <body>  
        <script>
         function check(question){
           if(confirm(question)){
            window.open("login.html", "_self");
           }
           else{
           }
         }
         </script>
        <!-- The sidebar -->
        <div class="sidebar">
<!--          <section id = "NameDisplay" align = "center" style = "font-size: 1000", font color="red"><h1>Cop It</h1></section>-->
        <img src ="img/Cop%20It%20Logo.png" width = 300px height = 150px  draggable="false" ondragstart="return false;" onContextMenu="return false;">
                     
          <a class="active" href='/' style = "font-family: Helvetica; font-size:20px;">Search</a>
          <button class="collapsible" style = "font-family: Helvetica; font-size:20px;">Watch List</button>
            <div class="collapse-content">
              <a href="item1.html">1. Apple Air Pods<img id="hov" src="img/Delete Icon.png" width = "25" height = "25" alt="Delete" onclick="check('Are you sure you want to delete item 1?');" style="float:right;"></a>
              <a href="item2.html">2. iPad Pro (6th gen)<img id="hov1" src="img/Delete Icon.png" width = "25" height = "25" alt="Delete" onclick="check('Are you sure you want to delete item 1?');" style="float:right;"></a>
              <a href="item3.html">3. Surface Pro (5th gen)<img id="hov2" src="img/Delete Icon.png" width = "25" height = "25" alt="Delete" onclick="check('Are you sure you want to delete item 1?');" style="float:right;"></a>
              <a href="item4.html">4. Canon EOS 5D Mark II<img id="hov3" src="img/Delete Icon.png" width = "25" height = "25" alt="Delete" onclick="check('Are you sure you want to delete item 1?');" style="float:right;"></a>
              <a href="item5.html">5. iPhone 6S<img id="hov4" src="img/Delete Icon.png" width = "25" height = "25" alt="Delete" onclick="check('Are you sure you want to delete item 1?');" style="float:right;"></a>
            </div>
          <a href="#statistics.html" style = "font-family: Helvetica; font-size:20px;">Statistics</a>
          <a style = "font-family: Helvetica; font-size:20px;" onclick="check('Are you sure you want to log out?');">Log Out</a>
        </div>
        
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
        </script>
        
        <!-- Page content -->
        <div class="content">
            
          <h1>Apple Air Pods</h1>
<!--
            <div class = "searchbarbox">
              <input type="text" style = "font-family: Didot" placeholder="search ...">
              <a class = "searchbuttonbox">
                <i class="far fa-search"></i>
              </a>
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
-->
            
 <div id = "tab">
    <table class="table">
      <thead>
         <tr style = "background-color: lightcoral">
            <th class="col-sm-0.1"></th>
            <th class="col-sm-0.1">Time</th>
            <th class="col-sm-0.1">Price drop</th>
            <th class="col-sm-0.1">Store</th>
            <th class="col-sm-0.1">Drop Chance</th>
         </tr>
      </thead>
      <tr>
        <th scope="row"> 1.</th>
        <td>May</td>
        <td>-30%</td>
        <td>Best Buy</td>
        <td>80%</td>
      </tr>
      <tr>
        <th scope="row"> 2.</th>
        <td>June</td>
        <td>-40%</td>
        <td>Costco</td>
        <td>40%</td>
      </tr>
      <tr>
        <th scope="row"> 3.</th>
        <td>August</td>
        <td>-56%</td>
        <td>Walmart</td>
        <td>30%</td>
      </tr>
      <tr>
        <th scope="row"> 4.</th>
        <td>April</td>
        <td>-35%</td>
        <td>Aliexpress</td>
        <td>15%</td>
      </tr>
      <tr>
        <th scope="row"> 5.</th>
        <td>May</td>
        <td>-50%</td>
        <td>Ebay</td>
        <td>5%</td>
      </tr>
    </table>
  </div>

  <div id="chart">
  
  </div>
      
  <script>
    var chart = c3.generate({
       bindto: '#chart',
        size: {
           height: 350,
           width: 600,
        },
        data: {
           columns: [
             ['2018', 30, 45, 50, 45, 53, 40, 42, 45, 64, 25, 20, 40, 45],
             ['2019', 20, 30, 40, 30]
           ]
        },
        axis: {
          y:{
            show: true,
            label: {
              text: 'Price',
              position: 'outer-middle'
            }
          },
          x:{
            show: true,
            label: {
              text: 'Month',
              position: 'outer-center'
            }
          }
        }
    });
    </script>
            
    </div>
        
        

    </body>

    <foot>
        <div class = "copyright" style="background-color:ghostwhite;">
            <p>Copyright &copy; 2019 Cop It</p>
        </div>
    </foot>

</html>
