<!DOCTYPE HTML>

<html>

    <head>
        <meta charset="UTF-8">
        <title>Cop It</title>

        <meta name = "viewport" content = "width = device - width">
        <meta name = "description" content = "Cop It Website">  
        <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">

        <!--for search bar icon -->
    </head>


    <body>


        <!-- The sidebar -->
<!--        <div class="sidebar">-->
<!--          <section id = "NameDisplay" align = "center" style = "font-size: 1000", font color="red"><h1>Cop It</h1></section>-->
<!--
        <img src ="Cop%20It%20Logo.png" width = 200 height = 100 alt = "CPP Logo" draggable="false" ondragstart="return false;" onContextMenu="return false;">

          <a class="active" href="index.html" style = "font-family: Helvetica">Search</a>
          <a href="#watchlist.html" style = "font-family: Helvetica">Watch List</a>
          <a href="#statistics.html" style = "font-family: Helvetica">Statistics</a>
          <a href="#log out.html" style = "font-family: Helvetica">Log Out</a>
        </div>
-->
        <img src ="img/Cop%20It%20Logo.png" width = 300 height = 150  draggable="false" ondragstart="return false;" onContextMenu="return false;">

        <!-- Page content -->
<!--        <div class="content">-->
                <form action='/home/'>
<!--
                  <div class="imgcontainer">
                    <img src="img_avatar2.png" alt="Avatar" class="avatar">
                  </div>
-->

                  <div class="login-container">
                    <h1>Start coping those goods NOW!</h1><br>
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button class = "registerbtn" type="submit">Login</button>
                    <label>
                      <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                       <span class="psw"><a href="#">I forgot my password</a></span><br><br>
                      <a href = "register.html">Don't have an account? Register Now!</a>
                  </div>

                  <div class="login-container">
<!--                    <button type="button" class="cancelbtn">Cancel</button>-->
                  </div>
                </form>

<!--        </div>-->

    </body>

    <foot>
        <div class = "copyright">
            <p>Copyright &copy; 2019 Cop It</p>
        </div>
    </foot>

</html>
